/*INFO for all the page*/
body{
  background-color: #111;
  background-image: url("bg3-1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #111;
  font-family: arial;
  margin: 0;
}

/*Info for the menuBox*/
.menuBox {
  background-color: #222;
  font-family: Arial;
  padding: 1px 10px 20px 10px;
  position: absolute;
  width: 40%;
  top: 10%;
  left: 30%;
  animation-name: slidein;
  animation-duration: .7s;
  border-radius: 20px;
  display: none;
  z-index: 10;
}

.brs {
	display: none;
}

@keyframes slidein {
  0% {top: -50%;}
  100% {top: 10%;}
}


.menuBox  a{
  text-align: center;
  display: block;
  transition: all 0.2s ease;
  padding: 14px;
  font-size: 20px;
}

.menuBoxBG {
  position: fixed;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  animation-name: opacity;
  animation-duration: .7s;
  z-index: -1;
}

@keyframes opacity {
  0% {opacity: 0}
  100% {opacity: 1}
}
/*info for text in menubox*/
#area {
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

#area:hover {
  background-color: #000;
  color: orange;
  border-radius: 15px;
}


/*title in menubox*/
.menuBoxTitle {
  padding-bottom: 10px;
  font-size: 30px;
  border-bottom:2px solid #444;
  text-align: center;
  display: block;
  color: white;
}

.npa {
	display: none;
}

/*Mobile Compatability*/
@media screen and (max-width: 900px) { /*Mobile Compatibility - Make the box take up entire screen*/
  .menuBox {
    min-height: calc(100vh - 10px);
    width: 100%;
    left: 0%;
    top: 0%;
    padding: 0px 0px 10px 0px;
    animation-duration: .0s; /*Cancelles the animation for mobile*/
  }
  body {
    background-image: none;
  }
  .menuBox  a{
    padding: 16px;
    font-size: 18px;
  }
  .brs {
	  display: inline;
  }
  /*title in menubox*/
  .menuBoxTitle {
    font-size: 24px;
    color: white;
  }

}
