---
update_date: 2025/02/21
priority: 
specsheet_version: 1
device_name:
device_description: 
device_picture_file_name: 
device_quantity:
device_colours:
device_GSM_LNK: 

device_model: 
device_codename:
device_year:
device_shipped_android_version:
device_latest_official_android_version: 
device_chipset: 
device_memory: 
device_storage:
device_battery:
device_screen_size:
device_screen_resolution:
device_screen_technology:

device_front_camera:
device_rear_camera_main:
device_rear_camera_wide:
device_rear_camera_other:


---