---

---

<!DOCTYPE html5>
<title>{{site.title}}</title>
<div class="chapter" id="chapter_1">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->


<link rel="stylesheet" type="text/css" href="./{{ site.legacy-site-location }}/1mainResources/mainMenu.css">
<link rel="shortcut icon" href="./{{ site.legacy-site-location }}/1mainResources/tief.jpg">


<style>
  .menuBox {display:block;}
  .menuBox img {
    display: block;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden; /* Optional: Clip overflowing parts */
  }
</style>

<div class="menuBoxBG"></div>
  <div class="menuBox">
    <img src="./{{site.legacy-site-location}}/1mainResources/tief.jpg" alt="Me" style="text-align: center;">
    <p class="menuBoxTitle">Owen Daigle</p>
    <p class="menuBoxSubtitle">My name is Owen Daigle, a linux user who is attending the University of Ottawa in Computer Engineering. I enjoy working with computer software/hardware, self hosting my own services on my personal servers, and learning about rechargeable batteries. Or really anything to do with computers :-)<br>I own and tinker with lots of computers and mobile devices.</p>

    {% assign sorted_pages = site.pages | sort: 'order' %}

    {% for page in sorted_pages %}
    {% if page.url contains "/zones/" %}
      <a href="{{ page.url }}", id="area">{{page.pgtitle}}</a>
    {% endif %}
    {% endfor %}

  